body{
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
}

h1{
  font-family: 'Montserrat',sans-serif;
  color:#A5B4FC ;
  font-size: 3.5em;
}

p{
  font-size: 1.1em;
}

a{
    color:black;
    text-decoration: none;
}
